# .env 파일 작성 예시

# Database (PostgreSQL)
POSTGRES_URL=jdbc:postgresql://localhost:5432/monew
POSTGRES_USER_NAME=admin
POSTGRES_PASSWORD=0000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/monew

# AWS S3 (백업용)
AWS_S3_ACCESS_KEY=your_access_key
AWS_S3_SECRET_KEY=your_secret_key
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=monew-backup
